.image {
		position: relative; 
		width: 100%; 
		margin-top: 20px; 
		text-align: center;
}
.image h2{
	position: absolute; 
	top: 40%
	right: 0;
	left: 0;
	color: white;
	font-size: 32px;
	text-transform: uppercase;
}